<h2>Записаться!</h2>


<form action="/visit" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
    <small id="emailHelp" class="form-text text-muted">We'll never share your Name with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>